table{
    width:500px;
    background-color: yellow;
}
th{
    color:black;
    background-color: orange;
}
a {
    border:1px solid blue;
    text-decoration: none;
}
.yes:hover{
    background-color: green;
}
.no:hover{
    background-color: red;
}